<div class="page">
    <div class="container">
        <div class="account-page">
            <h1>Hello, {{customer.first_name}}</h1>
            <p>This is going to be the account overview panel.</p>
        </div>
    </div>
</div>