<header class="header">
    <div class="topBanner">
        <div class="bannerLogo" id="bannerLogo">
            <h1><a href="/">{{ storeData.storeName }}</a></h1>
            <span class="bannerLogo-slogan">{{ context.slogan }}</span>
        </div>
    </div>
    {{> common/nav-top}}
    {{> common/nav-menu }}
</header>
