<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- JS Cookie -->
        <script src="/js/js.cookie.js"></script>

        <!-- BootStrap and CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="/css/base.css">

        <title>Jordan's Headless Store</title>
    </head> 
    <body>
        {{> header }}
        {{> body }}
        {{> footer }}
        <script src="/js/script_main.js"></script>
        <script src="/js/transitions.js"></script>
        <script src="/js/modals.js"></script>
    </body>
</html>